/PanoramaBackend/bin
/PanoramaBackend/obj
/NukesLab.Core.Services/bin
/NukesLab.Core.Services/obj
/NukesLab.Core.Repository/bin
/NukesLab.Core.Repository/obj
/NukesLab.Core.Common/bin
/NukesLab.Core.Common/obj
/NukesLab.Core.Api/bin
/NukesLab.Core.Api/obj

/.vs
.vs
/ArcherMicroFinanceBackend.Services/bin
/ArcherMicroFinanceBackend.Services/obj
/ArcherMicroFinanceBackend.Data/bin
/ArcherMicroFinanceBackend.Data/obj
