@model PanoramaBackend.Api.Controllers.AccountStatementPDF
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Statement</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;500;600;700&display=swap"
          rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@200;300;400;500&display=swap"
          rel="stylesheet">



    <!-- font-family: 'IBM Plex Sans Arabic', sans-serif; ARARBIC-->
    <!-- font-family: 'Lexend Deca', sans-serif; -->

</head>

<body style="margin: 0; padding: 0 ; ">
    <div style=" margin: 0;">
        <div>
            <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%" style="margin:auto;">
                <tbody>

        



                    <!-- ------------3rd---------------------- -->
                    <tr>
                        <td>
                            
                            <table role="presentation" border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tbody>
                           
                                    @foreach (var item in Model.Statement)
                                    {
                                <tr style="background: #F2F5F9;font-family: 'Lexend Deca', sans-serif;font-style: normal;font-weight: 400;font-size: 10px;line-height: 18px;color: #505050;">

                                    <td style="padding:15px 0;text-align: center;">@item?.InvoiceDate?.ToShortDateString()</td>  
                                     <td style="padding:15px 0;text-align: center;">@item?.TransactionType</td>
                                    <td style="padding: 15px 0;">@item?.CustomerName</td>
                                    <td style="padding: 15px 0;">@item?.PolicyNumber</td>
                                    <td style="padding: 15px 0;">@item?.CompanyName</td>
                                    <td style="padding: 15px 0;">@item?.TransactionRef</td>
                                    <td style="padding: 15px 0;">@item?.Vehicle</td>
                                    <td style="padding: 15px 0;">@item?.InsuranceType</td>
                                    <td style="padding: 15px 0;">@item?.Debit</td>
                                    <td style="padding: 15px 0;">@item?.Credit</td>
                                    <td style="padding: 15px 0;">@item?.Balance</td>

                                </tr>
                                    }
                             


                                </tbody>
                            </table>

                        </td>
                    </tr>
                </tbody>

            </table>
            <table>
                <tbody>
                </tbody>
            </table>
            <div>
                <table role="presentation" border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tbody>


                        <tr style="background:  #1F3563 !important ;font-family: 'Lexend Deca', sans-serif;font-style: normal;font-size: 14px;line-height: 21px;color: #FFFFFF;">
                            <td style="font-weight: 400;padding: 15px 0 10px 15px; ">
                                TOTAL BALANCE
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td style="font-weight: 600;padding: 15px 15px 15px 0;  text-align: end;">@Model.Balance</td>
                        </tr>

                    </tbody>
                </table>


            </div>
            <div id="footer">


                <p style=" padding: 0 20px; text-align: center;      font-family: 'IBM Plex Sans Arabic', sans-serif;font-style: normal;font-weight: 400;font-size: 14px;line-height: 18px;letter-spacing: 0.05em;color: #818E9B;">
                    التمييز بين العمل شبه </i></strong>البصري من الممكن أن يكون اتهامًا بلانديتيزً<strong>
                        <i></i>ا ضروريًا لخطأ
                        استثناء. بوسيموس إيتاك ، اتهام بلانديتيز يستلزم خطأ استثناءوري.
                </p>

                <p style="    padding: 0 20px; text-align: center;    font-family: 'Lexend Deca', sans-serif;font-style: normal;font-weight: 400;font-size: 14px;line-height: 16px;color: #505050;">
                    Lorem ipsum dolor sit, <strong><i> consectetur adipisicing</i></strong> elit. Distinctio labore quasi
                    optio adipisci <strong>itaque, accusamus blanditiis necessitatibus</strong>  error excepturi.
                </p>
            </div>
        </div>
    </div>


</body>

</html>