@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using PanoramaBackend.Api.DIHelper
@model StatementHeader

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Statement</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;500;600;700&display=swap"
          rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@200;300;400;500&display=swap"
          rel="stylesheet">
</head>
<body style="margin: 0; padding: 0 ; ">
    <div style=" margin: 0;">
        <div>
            <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%" style="margin:auto;">
                <tr>

                    <td>
                        <div style="text-align: center; padding: 0 30px;">

                            <h2 style="margin-top: 20px;font-family: 'Lexend Deca', sans-serif;font-style: normal;font-weight: 700;font-size: 20px;line-height: 30px;letter-spacing: 0.05em;color: #054085;">
                                Transactions
                            </h2>

                        </div>
                        <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%" style="margin:auto;">
                            <tbody>

                                <tr style=" background:  #1F3563 !important ;color: #FFFFFF;font-family: 'Lexend Deca', sans-serif;font-style: normal;font-weight: 300;font-size: 15px;line-height: 15px;">

                                    <td style="padding:15px 0;text-align: center;">Invoice Date</td>
                                    <td style="padding: 15px 0;">Transaction Type</td>
                                    <td style="padding: 15px 0;">Customer Name</td>
                                    <td style="padding: 15px 0;">Policy #</td>
                                    <td style="padding: 15px 0;">Company Name</td>
                                    <td style="padding: 15px 0;">Transaction Ref #</td>

                                    <td style="padding: 15px 0;">Vehicle Type</td>
                                    <td style="padding: 15px 0;">Insurance Type</td>
                                    <td style="padding: 15px 0;">Debit</td>
                                    <td style="padding: 15px 0;">Credit</td>
                                    <td style="padding: 15px 0;">Balance</td>

                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </table>
         
</div>
    </div>


</body>
</html>